<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Show users</title>

    <script type="text/javascript" src="../vendors/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../javascripts/app.js"></script>
</head>
<body>
Whatever i want!!
<div class="postDataDisplay">

    <form method="post">
        <label for="name">Name:</label>
        <input name="name" id="name" type="text">
        <br />
        <label for="score">Score:</label>
        <input name="score" id="score" type="text">
        <br />

        <label for="date">Date:</label>
        <input name="date" id="date" type="text">
        <br/>
        <input type="submit" value="Submit">
    </form>

</div>
<div class="dataDisplay"></div>
</body>
</html>